$surface-fg: #949494;

* { all: unset; }

.topbar-container {
  font-family: Koulen;
  font-size: 1em;
}

.text {
  font-family: Koulen;
}

.icon {
  font-family: Phosphor;
}

.volume-box, .tm-box, .bat-box, .wifi-box {
  padding: 0.3em;
}

.workspace {
  padding: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
}

.ws-curr-true {
  background-color: rgba($surface-fg, 0.8);
}

// vim: ft=scss:et:sw=2:ts=2
