*
!.gitignore
!make_symlinks.py
!UltiSnips
!UltiSnips/c_my.snippets
!UltiSnips/cpp_my.snippets
!UltiSnips/make.snippets
!.vimperatorrc
!.vimrc
!.xinitrc
!xmonad.hs
!.Xresources
!.zshrc
!.sackrc
!.agignore
!.spacemacs
!ranger
!ranger/commands.py
!ranger/commands_full.py
!ranger/scope.sh
!ranger/rifle.conf
!ranger/rc.conf
!bin
!bin/dzenotify
!bin/remind
!rebar3
!rebar3/templates
!rebar3/templates/cowboy_http.erl
!rebar3/templates/cowboy_http.template
!rebar3/templates/cowboy_loop.erl
!rebar3/templates/cowboy_loop.template
!rebar3/templates/cowboy_rest.erl
!rebar3/templates/cowboy_rest.template
!rebar3/templates/gen_server.erl
!rebar3/templates/gen_server.template
!rebar3/templates/cowboy_ws.erl
!rebar3/templates/cowboy_ws.template
!.npmrc
!.tern-config
!.vim
!.vim/after
!.vim/after/plugin
!.vim/after/plugin/incsearch.vim
!.vim/after/plugin/ycm.vim
!.vim/after/plugin/easymotion.vim
