# Like a .gitignore file, it can match wildcards and should be checked into the repository. See
# below for more information about .gitattributes. Make sure you don't accidentally encrypt the
# .gitattributes file itself (or other git files like .gitignore or .gitmodules). Make sure your
# .gitattributes rules are in place before you add sensitive files, or those files won't be
# encrypted!
work.nix filter=git-crypt diff=git-crypt
bookmarks.db filter=git-crypt diff=git-crypt
