# Ignore everything, then explicitly add files individually. Reduces the chance of committing a
# secret.

*

!.git-crypt/**/*

!.gitignore
!.gitattributes
!.zshrc
!alacritty.yml
!below.nix
!bookmarks.db
!config.nu
!configuration.nix
!env.nu
!factorio.nix
!firefox.nix
!flake.lock
!flake.nix
!home.nix
!init.vim
!LICENSE
!local.bookmarks.db
!polybar.nix
!tridactylrc.json
!wegorc
!wezterm.lua
!xmonad.hs
!xps-hw-conf.nix
!zen-hw-conf.nix
!work.nix

!flakes/
!flakes/goris/
!flakes/goris/flake.nix
!flakes/goris/flake.lock

!keyboard/
!keyboard/build.log
!keyboard/README.md
!keyboard/moonlander_msk_dn4GZ_QN9q3.bin
!keyboard/moonlander_msk_dn4GZ_QN9q3.md5
!keyboard/moonlander_msk_source/
!keyboard/moonlander_msk_source/config.h
!keyboard/moonlander_msk_source/keymap.c
!keyboard/moonlander_msk_source/rules.mk

!yamllint/
!yamllint/config.yaml

!fonts/
!fonts/dejavuwififont.nix
!fonts/steadysetsfont.nix

!ultisnips/
!ultisnips/javascript_my.snippets
!ultisnips/yaml_kubernetes.snippets

!.vim/
!.vim/after
!.vim/after/plugin
!.vim/after/plugin/delimitmate.vim
!.vim/after/plugin/easyalign.vim
!.vim/after/plugin/sideways.vim
!.vim/after/plugin/tcomment.vim
!.vim/ftplugin
!.vim/ftplugin/java.lua.nix

!node/
!node/node-env.nix
!node/node-packages.json
!node/node-packages.nix
!node/default.nix

!notes/
!notes/alpine debug packages.md
!notes/bash cheatsheet.md
!notes/cert cheatsheet.md
!notes/connectivity debugging and testing.md
!notes/curl cheatsheet.md
!notes/date command cheatsheet.md
!notes/digitalocean.md
!notes/disable screen power management.md
!notes/disk full inodes.md
!notes/docker cheatsheet.md
!notes/docker run shell to inspect image.md
!notes/eslint cheatsheet.md
!notes/ffmpeg screen capture.md
!notes/git add remote.md
!notes/git add selective partial.md
!notes/git bisect.md
!notes/git cat or show another or older version of a file.md
!notes/git change default remote for a given branch.md
!notes/git commit unstaged changes to new branch.md
!notes/git commit with specific date.md
!notes/git crypt.md
!notes/git delete all non-version-controlled files.md
!notes/git delete branch.md
!notes/git difftool between commits.md
!notes/git force push.md
!notes/github cheatsheet.md
!notes/gitlab self-hosting example.md.md
!notes/git local gitignore.md
!notes/git merge from another branch.md
!notes/git merge from upstream.md
!notes/git move local commits to new branch before pushing.md
!notes/git prune local branches that don't exist on remote.md
!notes/git pull theirs.md
!notes/git rebuild commit history.md
!notes/git remove secrets.md
!notes/git rebase branched branch onto original.md
!notes/git resolve merge conflicts.md
!notes/git show ignored files.md
!notes/git show last common ancestor.md
!notes/git show remote.md
!notes/git stash.md
!notes/git submodules.md
!notes/git tags cheatsheet.md
!notes/git uncommit undo amend last commit.md
!notes/git unstage staged file.md
!notes/git view log or changes for specific file.md
!notes/haskell notes.md
!notes/iwd.md
!notes/jq cheatsheet.md
!notes/js build object from array of k-v pairs.md
!notes/js default destructure function arguments.md
!notes/k8s-helm cheatsheet.md
!notes/k8s kubectl cheatsheet.md
!notes/linux iphone wired hotspot.md
!notes/markdown cheatsheet.md.md
!notes/mysql cli.md
!notes/network captures.md
!notes/nix cheatsheet.md
!notes/nixos debugging.md
!notes/nix packaging.md
!notes/nix pills notes.md
!notes/nmcli cheatsheet.md
!notes/npm install cheatsheet.md
!notes/random password or string in shell.md
!notes/recruitment.md
!notes/reparent process to current terminal.md
!notes/run ephemeral mysql.md
!notes/rust cheatsheet.md
!notes/socat tunnelling port forwarding.md
!notes/spring boot experimentation.md
!notes/sql cheatsheet.md
!notes/ssh agent.md
!notes/ssh escape sequence.md
!notes/ssh key generation.md
!notes/terminal environment cheatsheet.md
!notes/tridactyl cheatsheet.md
!notes/vim cheatsheet.md
!notes/vim folding.md
!notes/vim list loaded plugins.md
!notes/watch notify.md
!notes/wireguard cheatsheet.md
!notes/work lessons.md
!notes/wpa change wifi network.md
!notes/x11 turn off display.md
!notes/xargs.md
!notes/zsh cheatsheet.md

!project_templates/
!project_templates/spring_boot_web_mysql/
!project_templates/spring_boot_web_mysql/.gitignore
!project_templates/spring_boot_web_mysql/README.md
!project_templates/spring_boot_web_mysql/build.gradle
!project_templates/spring_boot_web_mysql/gradlew
!project_templates/spring_boot_web_mysql/gradlew.bat
!project_templates/spring_boot_web_mysql/gradle/
!project_templates/spring_boot_web_mysql/gradle/wrapper/
!project_templates/spring_boot_web_mysql/gradle/wrapper/gradle-wrapper.jar
!project_templates/spring_boot_web_mysql/gradle/wrapper/gradle-wrapper.properties
!project_templates/spring_boot_web_mysql/HELP.md
!project_templates/spring_boot_web_mysql/settings.gradle
!project_templates/spring_boot_web_mysql/src/
!project_templates/spring_boot_web_mysql/src/main/
!project_templates/spring_boot_web_mysql/src/main/java/
!project_templates/spring_boot_web_mysql/src/main/java/com/
!project_templates/spring_boot_web_mysql/src/main/java/com/example/
!project_templates/spring_boot_web_mysql/src/main/java/com/example/testproject/
!project_templates/spring_boot_web_mysql/src/main/java/com/example/testproject/Company.java
!project_templates/spring_boot_web_mysql/src/main/java/com/example/testproject/CompanyRepository.java
!project_templates/spring_boot_web_mysql/src/main/java/com/example/testproject/DemoApplication.java
!project_templates/spring_boot_web_mysql/src/main/java/com/example/testproject/MainController.java
!project_templates/spring_boot_web_mysql/src/main/java/com/example/testproject/Project.java
!project_templates/spring_boot_web_mysql/src/main/java/com/example/testproject/ProjectRepository.java
!project_templates/spring_boot_web_mysql/src/main/java/com/example/testproject/Task.java
!project_templates/spring_boot_web_mysql/src/main/java/com/example/testproject/TaskRepository.java
!project_templates/spring_boot_web_mysql/src/main/resources/
!project_templates/spring_boot_web_mysql/src/main/resources/application.properties
!project_templates/spring_boot_web_mysql/src/test/
!project_templates/spring_boot_web_mysql/src/test/java/
!project_templates/spring_boot_web_mysql/src/test/java/com/
!project_templates/spring_boot_web_mysql/src/test/java/com/example/
!project_templates/spring_boot_web_mysql/src/test/java/com/example/testproject/
!project_templates/spring_boot_web_mysql/src/test/java/com/example/testproject/DemoApplicationTests.java
