

!-------------------------------------------------------------------------------
! Xft settings
!-------------------------------------------------------------------------------

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

!-------------------------------------------------------------------------------
! URxvt settings
! Colours lifted from Solarized (http://ethanschoonover.com/solarized)
! More info at:
! http://pod.tst.eu/http://cvs.schmorp.de/rxvt-unicode/doc/rxvt.1.pod
!-------------------------------------------------------------------------------

/*Urxvt.intensityStyles: false*/
URxvt.geometry: 90x30
URxvt.depth: 32
URxvt.background: rgba:0000/0000/0000/d800
URxvt.transparent: false
URxvt.fading: 0
! URxvt.urgentOnBell: true
! URxvt.visualBell: true
URxvt.loginShell: true
URxvt.saveLines: 5000
URxvt.internalBorder: 2
URxvt.externalBorder: 0
/*URxvt.borderLess: true*/
URxvt.lineSpace: 0

! Fonts
URxvt.allow_bold: false
/* Use xlsfonts to list fonts */
/*URxvt.font: -*-terminus-medium-r-normal-*-12-120-72-72-c-60-iso8859-1*/
/*URxvt.font: xft:DejaVu Sans Mono-10.5*/
/*URxvt.font: xft:DejaVu Sans Mono-10*/
/*URxvt.font: xft:Inconsolata-12*/
/*URxvt.font: xft:Consolas-12*/
/*URxvt.font: xft:Droid Sans Mono-10*/
/*URxvt.font: xft:monaco:size=11*/
/*URxvt.font: xft:inconsolata:pixelsize=10*/
URxvt.font: xft:Inconsolata:pixelsize=15
/*URxvt.font: -misc-droid sans mono-medium-r-normal--0-0-0-0-m-0-iso8859-1*/
/*URxvt.font: -misc-inconsolata-medium-r-normal-*-0-0-0-0-m-0-iso8859-1*/
/*URxvt.font: -*-terminus-medium-r-normal-*-16-160-72-72-c-80-iso8859-1*/
/*URxvt.font: -*-terminus-bold-r-normal-*-16-160-72-72-c-80-iso8859-1*/
/*URxvt*font: xft:Monospace:pixelsize=14*/
/*URxvt*boldFont: xft:Monospace:pixelsize=14*/

! Fix font space
URxvt.letterSpace: -1.8

! Scrollbar
URxvt.scrollStyle: rxvt
URxvt.scrollBar: false

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Perl extensions
URxvt.perl-ext-common: default,matcher
URxvt.matcher.button: 1
URxvt.urlLauncher: firefox

! Cursor
URxvt.cursorBlink: true
URxvt.cursorColor: #657b83
URxvt.cursorUnderline: false

! Pointer
URxvt.pointerBlank: true

!!Source http://github.com/altercation/solarized

#define S_base03 #002b36
#define S_base02 #073642
#define S_base01 #586e75
#define S_base00 #657b83
#define S_base0 #839496
#define S_base1 #93a1a1
#define S_base2 #eee8d5
#define S_base3 #fdf6e3
#define S_yellow #b58900
#define S_orange #cb4b16
#define S_red #dc322f
#define S_magenta #d33682
#define S_violet #6c71c4
#define S_blue #268bd2
#define S_cyan #2aa198
#define S_green #859900

*background: S_base03
*foreground: S_base00
*fading: 40
*fadeColor: S_base03
*cursorColor: S_base1
*pointerColorBackground:S_base01
*pointerColorForeground:S_base1

!! black dark/light
*color0: S_base02
*color8: S_base03

!! red dark/light
*color1: S_red
*color9: S_orange

!! green dark/light
*color2: S_green
*color10: S_base01

!! yellow dark/light
*color3: S_yellow
*color11: S_base00

!! blue dark/light
*color4: S_blue
*color12: S_base0

!! magenta dark/light
*color5: S_magenta
*color13: S_violet

!! cyan dark/light
*color6: S_cyan
*color14: S_base1

!! white dark/light
*color7: S_base2
*color15: S_base3

! xscreensaver ---------------------------------------------------------------

!font settings
! xscreensaver.Dialog.headingFont:        -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
! xscreensaver.Dialog.bodyFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
! xscreensaver.Dialog.labelFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
! xscreensaver.Dialog.unameFont:          -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
! xscreensaver.Dialog.buttonFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*
! xscreensaver.Dialog.dateFont:           -*-dina-medium-r-*-*-12-*-*-*-*-*-*-*
! xscreensaver.passwd.passwdFont:         -*-dina-bold-r-*-*-12-*-*-*-*-*-*-*

! xscreensaver.Dialog.headingFont:        xft:Inconsolata:pixelsize=15
! xscreensaver.Dialog.bodyFont:           xft:Inconsolata:pixelsize=15
! xscreensaver.Dialog.labelFont:          xft:Inconsolata:pixelsize=15
! xscreensaver.Dialog.unameFont:          xft:Inconsolata:pixelsize=15
! xscreensaver.Dialog.buttonFont:         xft:Inconsolata:pixelsize=15
! xscreensaver.Dialog.dateFont:           xft:Inconsolata:pixelsize=15
! xscreensaver.passwd.passwdFont:         xft:Inconsolata:pixelsize=15

xscreensaver.Dialog.headingFont:        *-helvetica-bold-r-*-*-*-180-*-*-*-iso8859-1
xscreensaver.Dialog.bodyFont:           *-helvetica-bold-r-*-*-*-140-*-*-*-iso8859-1
xscreensaver.Dialog.labelFont:          *-helvetica-bold-r-*-*-*-140-*-*-*-iso8859-1
xscreensaver.Dialog.unameFont:          *-helvetica-bold-r-*-*-*-120-*-*-*-iso8859-1
xscreensaver.Dialog.buttonFont:         *-helvetica-bold-r-*-*-*-140-*-*-*-iso8859-1
xscreensaver.Dialog.dateFont:           *-helvetica-medium-r-*-*-*-80-*-*-*-iso8859-1
xscreensaver.passwd.passwdFont:         *-helvetica-medium-r-*-*-*-80-*-*-*-iso8859-1

!general dialog box (affects main hostname, username, password text)
xscreensaver.Dialog.foreground:         #ffffff
xscreensaver.Dialog.background:         #111111
xscreensaver.Dialog.topShadowColor:     #111111
xscreensaver.Dialog.bottomShadowColor:  #111111
xscreensaver.Dialog.Button.foreground:  #666666
xscreensaver.Dialog.Button.background:  #ffffff

!username/password input box and date text colour
xscreensaver.Dialog.text.foreground:    #666666
xscreensaver.Dialog.text.background:    #ffffff
!xscreensaver.Dialog.logo.width:
!xscreensaver.Dialog.logo.height:        0
xscreensaver.Dialog.borderWidth:        0
xscreensaver.Dialog.shadowThickness:    0
xscreensaver.Dialog.internalBorderWidth:20

!timeout bar (background is actually determined by Dialog.text.background)
xscreensaver.passwd.thermometer.foreground:  #111111
xscreensaver.passwd.thermometer.background:  #111111
xscreensaver.passwd.thermometer.width:       2
!xscreensaver.passwd.label:
!xscreensaver.passwd.passwd.label:
xscreensaver.passwd.heading.label:
xscreensaver.passwd.user.label:
xscreensaver.passwd.body.label:

!datestamp format--see the strftime(3) manual page for details
! xscreensaver.dateFormat:    %R %a %b %d, %Y
xscreensaver.dateFormat:

URxvt.colorIT:      #87af5f
URxvt.colorBD:      #d7d7d7
URxvt.colorUL:      #87afd7
